*{box-sizing: border-box;}
body{
    background-color: #ece9e9;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #fff;
    background-color: #fff;
}
.container:hover{
    background-color: rgb(255, 251, 251);
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80%;
 
}
input{
    outline: none;
}
label{
    text-align: center;
   padding: 10px;
   font-size: 18px;
}
textarea{
    height: 100px;
outline: none;
}
h1{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: rgb(114, 228, 112);
    text-shadow: 1px 1px 1px rgb(90, 93, 91);
    margin: 10px;
}

button{
    border: none;
    color: #fff;
    background-color: rgb(10, 241, 75);
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
}
button:hover{
    background-color: rgb(235, 41, 41);

}